/* alert box css */
.ck-alert-box {
    background: #F8F8F8;
    width: 100%;
    display: inline-block;
    padding: 10px;
    border-left: 4px solid red;
}
.ck-alert-important {
	margin-top: 1px;
	margin-right: 5px;
	float: left;
	display: inline-block;
}
.ck-txt {
	width: 95%;
}
.ck-red {
	color: #D60000;
    padding-right: 10px;
    font-weight: bold;
    text-transform: uppercase;
}
